# Dependencias de Composer
/vendor/
composer.lock

# Dependencias de Node
/node_modules/
package-lock.json

# Archivos de entorno
.env
*.env
flotax-map-3949a96314d9.json
proyecto-permisos-general-fecdc1d8138e.json
proyecto_gestion (3).sql

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.cache
*.tmp
